.container {
  max-width: 72rem;
  margin: 0 auto;
}

.dropdown {
  display: none;

  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

nav ul li:hover .dropdown {
  display: block;
}

.dropdown li a:hover {
  background-color: #f4f4f4;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./src/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nav a {
  color: rgb(255, 0, 0);
  padding: 10px;
  transition: 0.4s;
  font-weight: 600;
}

.nav a:hover {
  color: rgb(240, 120, 120);
}

.dropdown a:hover {
  background: #ccc;
  color: red;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  text-align: center;
  padding: 2rem 5rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero h1 {
  letter-spacing: 5px;
  font-size: 4.5rem;
  font-weight: 600;
}

.hero button {
  background-color: rgb(219, 44, 44);
  padding: 1rem;
  margin: 2rem;
  transition: 0.3s;
  border-radius: 10px;
  font-weight: 600;
  font-size: large;
}

.hero button:hover {
  background-color: rgb(219, 44, 44, 0.8);
}

.banner-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  margin: 20px 0;
  background-color: rgb(219, 44, 44);
  outline: 2px solid black;
}

.banner-item .icon {
  height: 4rem;
  width: 4rem;
  margin: 0 1rem;
  fill: white;
}

.banner-item p {
  font-weight: bold;
  color: white;
}

.button {
  padding: 10px 20px;
  outline: 1px solid black;
  background: white;
  color: black;
  display: inline-block;
  transition: 0.3s;
  font-weight: 500;
}

.button:hover {
  background: red;
  color: white;
}

.grid-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid black;
  padding: 2rem 1rem;
}

.grid-items p {
  color: white;
  font-size: large;
  text-align: center;
}

.services {
  background-image: linear-gradient(rgba(6, 6, 100, 0.6), rgba(6, 6, 100, 0.6)),
    url(./src/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #4b4f58; */
