:root {
  --red: #cc0022;
}
.container {
  max-width: 72rem;
  margin: 0 auto;
}

.dropdown {
  display: none;

  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

nav ul li:hover .dropdown {
  display: block;
}

.dropdown li a:hover {
  background-color: #f4f4f4;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./src/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav a {
  color: rgb(255, 0, 0);
  padding: 10px;
  transition: 0.4s;
  font-weight: 600;
}

.nav a:hover {
  color: rgb(240, 120, 120);
}

.dropdown a:hover {
  background: #ccc;
  color: var(--red);
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  text-align: center;
  padding: 2rem 5rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero h1 {
  letter-spacing: 5px;
  font-size: 4.5rem;
  font-weight: 600;
}

.primaryButton {
  background-color: rgb(219, 44, 44);
  padding: 1rem;
  margin: 2rem 0rem;
  transition: 0.3s;
  border-radius: 10px;
  font-weight: 600;
  font-size: large;
}

.primaryButton:hover {
  background-color: rgb(219, 44, 44, 0.8);
}

.banner-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  margin: 20px 0;
  background-color: rgb(219, 44, 44);
  outline: 2px solid black;
}

.banner-item .icon {
  height: 4rem;
  width: 4rem;
  margin: 0 1rem;
  fill: white;
}

.banner-item p {
  font-weight: bold;
  color: white;
}

.button {
  padding: 10px 20px;
  outline: 1px solid black;
  background: white;
  color: black;
  display: inline-block;
  transition: 0.3s;
  font-weight: 500;
}

.button:hover {
  background: var(--red);
  color: white;
}

.grid-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid rgb(255, 255, 255);
  padding: 2rem 1rem;
}

.services .grid-items p,
.services .grid-items a {
  color: white;
  font-size: large;
  text-align: center;
}

.services {
  background-image: linear-gradient(rgba(1, 1, 30, 0.8), rgba(1, 1, 30, 0.8)),
    url(./src/bg2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #4b4f58; */

.whyChooseUs {
  margin: 4rem auto;
}

.whyChooseUs h2 {
  color: var(--red);
  font-weight: bold;
  font-size: 3rem;
}

.parallax {
  height: 40%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}

.description {
  color: white;
}

.description h4 {
  font-size: 2rem;
  font-weight: bold;
}

.review {
  padding: 4rem 1rem 1rem 1rem;
}

.solid {
  background: none;
  background-color: #fff;
  height: 100%;
  width: 100%;
}
.solid p {
  color: black;
}

.solid h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-us {
  color: var(--red);
}

.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./src/bg2.jpg);
  height: 90vh;
  color: white;
}

footer a:hover {
  color: var(--red);
  transition: 0.3s;
}

footer .submit {
  background-color: #f4f4f4;
  padding: 10px 20px;
  color: black;
}

footer .submit:hover {
  background-color: #ddd;
  transition: 0.3s;
  cursor: pointer;
}

footer a,
.footerDesc {
  margin: 10px;
}

footer .grid {
  justify-items: center;
}

.copyright {
  background-color: var(--red);
  color: white;
  padding: 5px 0px;
}

.social-button {
  display: inline-block;
  padding: 10px;
  background-color: white;
  color: #008cc6;
  border: 1px solid white;
  transition: background-color 0.5s ease;
}

.social-button:hover {
  background-color: transparent;
  border: 1px solid white;
}
